// Define parameters for workflow

params.outputDir = "./workflow_output"
params.inputDir = null
params.help = null
params.downloadReferenceFiles = false
params.aligner = "hisat2"
params.paired = false
params.expDesign = "./assets/exp_design.tsv"
params.comparisons = null

// Parameters for adding additional command-line arguments

params.fqc = "" // FastQC
params.mqc = "" // MultiQC
params.hs2 = "" // hisat2
parans.fc = "" // featureCounts